LLM_PROVIDER=gemini
GOOGLE_API_KEY="your-api-key"
GEMINI_MODEL=gemini-2.0-flash


DEEPSEEK_API_KEY="simplismart-deepseek_api_key"
DEEPSEEK_OCR_ENDPOINT=https://api.simplismart.live
DEFAULT_HEADERS_ID={"id": "simplismart header"}

# Tesseract OCR Configuration (optional - uses platform defaults if not set)
# TESSERACT_CMD=/usr/bin/tesseract  # Linux/Mac
# TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe  # Windows

# Embedding Model Configuration (optional - uses default if not set)
 EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-V2